<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1950年</string>
		<string>1951年</string>
		<string>1952年</string>
		<string>1953年</string>
		<string>1954年</string>
		<string>1955年</string>
		<string>1956年</string>
		<string>1957年</string>
		<string>1958年</string>
		<string>1959年</string>
		<string>1960年</string>
		<string>1961年</string>
		<string>1962年</string>
		<string>1963年</string>
		<string>1964年</string>
		<string>1965年</string>
		<string>1966年</string>
		<string>1967年</string>
		<string>1968年</string>
		<string>1969年</string>
		<string>1970年</string>
		<string>1971年</string>
		<string>1972年</string>
		<string>1973年</string>
		<string>1974年</string>
		<string>1975年</string>
		<string>1976年</string>
		<string>1977年</string>
		<string>1978年</string>
		<string>1979年</string>
		<string>1980年</string>
		<string>1981年</string>
		<string>1982年</string>
		<string>1983年</string>
		<string>1984年</string>
		<string>1985年</string>
		<string>1986年</string>
		<string>1987年</string>
		<string>1988年</string>
		<string>1989年</string>
		<string>1990年</string>
		<string>1991年</string>
		<string>1992年</string>
		<string>1993年</string>
		<string>1994年</string>
		<string>1995年</string>
		<string>1996年</string>
		<string>1997年</string>
		<string>1998年</string>
		<string>1999年</string>
		<string>2000年</string>
		<string>2001年</string>
		<string>2002年</string>
		<string>2003年</string>
		<string>2004年</string>
		<string>2005年</string>
		<string>2006年</string>
		<string>2007年</string>
		<string>2008年</string>
		<string>2009年</string>
		<string>2010年</string>
		<string>2011年</string>
		<string>2012年</string>
		<string>2013年</string>
		<string>2014年</string>
		<string>2015年</string>
		<string>2016年</string>
		<string>2017年</string>
		<string>无工作经验</string>
	</array>
	<array>
		<string>1月</string>
		<string>2月</string>
		<string>3月</string>
		<string>4月</string>
		<string>5月</string>
		<string>6月</string>
		<string>7月</string>
		<string>8月</string>
		<string>9月</string>
		<string>10月</string>
		<string>11月</string>
		<string>12月</string>
	</array>
</array>
</plist>
